name: Deploy Golang App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout kode
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v1

      - name: Install Docker Compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/v2.18.1/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
          docker-compose --version

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
              ${{ runner.os }}-buildx-

      - name: Debug Dockerfile Location
        run: find . -name Dockerfile

      - name: Dockerhub login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      # Build Docker Image
      - name: Build Docker Image
        run: |
          docker build -t odhiahmad/winpos:latest .
          docker-compose -f docker-compose.yml up -d
          docker-compose logs -f
          docker push odhiahmad/winpos:latest

  # deploy:
  #   needs: build
  #   runs-on: ubuntu-latest

  #   steps:
  #     # SSH ke VM
  #     - name: Deploy to VM
  #       uses: appleboy/ssh-action@master
  #       with:
  #         host: ${{ secrets.VM_HOST }}
  #         username: ${{ secrets.VM_USERNAME }}
  #         key: ${{ secrets.VM_PRIVATE_KEY }}
  #         port: ${{ secrets.VM_PORT }}
  #         script: |
  #           docker pull odhiahmad/winpos:latest
  #           docker stop winpos || true
  #           docker rm winpos || true
  #           docker run -d --name winpos -p 80:80 odhiahmad/winpos:latest
