name: Deploy Golang App

on:
  push:
    branches:
      - main  # Trigger deployment pada branch `main`.

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.23.2  # Sesuaikan dengan versi Go Anda

    - name: Build Application
      run: |
        go mod tidy
        go build -o kasirku-service .  # Ganti `kasirku-service` dengan nama aplikasi Anda

    - name: Deploy to VM
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        VM_HOST: ${{ secrets.VM_HOST }}
        VM_USER: ${{ secrets.VM_USER }}
      run: |
        echo "$SSH_PRIVATE_KEY" > private_key.pem
        chmod 600 private_key.pem

        # Kirim file aplikasi ke VM
        scp -i private_key.pem kasirku-service $VM_USER@$VM_HOST:/path/to/deploy/

        # Jalankan aplikasi di VM
        ssh -i private_key.pem $VM_USER@$VM_HOST << EOF
          pkill kasirku-service || true  # Stop aplikasi lama
          nohup /app/kasirku-service > app.log 2>&1 &
        EOF

    - name: Clean up
      run: rm -f private_key.pem