name: Build and Deploy Go Application with PostgreSQL

on:
  push:
    branches:
      - main  # Trigger deployment on changes to main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    # Install Docker Compose
    - name: Install Docker Compose
      run: |
        sudo curl -L "https://github.com/docker/compose/releases/download/v2.18.1/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
        sudo chmod +x /usr/local/bin/docker-compose
        docker-compose --version  # Verify installation

    - name: Cache Docker layers
      uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Build Docker image
      run: |
        docker build -t kasirku-service .

    - name: Run Docker Compose to test locally
      run: |
        docker-compose up -d
        docker-compose ps

    - name: Deploy to VPS via SSH
      env:
        VPS_USER: ${{ secrets.VM_USERNAME }}
        VPS_HOST: ${{ secrets.VM_HOST }}
        VPS_KEY: ${{ secrets.VM_PRIVATE_KEY }}
      run: |
        # Add SSH key to the agent
        mkdir -p ~/.ssh
        echo "${VPS_KEY}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa

        # Add SSH key to the agent
        eval $(ssh-agent -s)
        ssh-add ~/.ssh/id_rsa

        # SSH to VPS and deploy
        ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -v ${VPS_USER}@${VPS_HOST} << 'EOF'
          docker pull kasirku-service:latest
          docker-compose down
          docker-compose up -d
        EOF
