name: Deploy to VPS

on:
  push:
    branches: release/development  # Atur sesuai branch kamu

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Connect & deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: 202.10.44.218
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/html/kasirku-service
            git pull origin release/development
            # Install dependency Golang
            go mod tidy
            # Build ulang
            go build -o app main.go
            go build -o app main.go
            pm2 restart kasirku-service || pm2 start ./app --name kasirku-service